<!doctype html>
<html lang="en">
    
  <head>
    <title>Products</title>
  </head>
    
  <body>
    <h1>Products</h1>

        <table class="table table-striped table-hover table-bordered table-sm table-responsive">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product</th>
                    <th scope="col">Total Quantity</th>
                    <th scope="col">Total Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id, product, quantity, amount in products_list %}
                <tr>
                    <td>{{product_id}}</td>
                    <td>{{product}}</td>
                    <td>{{quantity}}</td>
                    <td>{{amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
  </body>
</html>


